@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Sixtyfour&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;



.seleccion {
    font-family: 'Sixtyfour', monospace;
}


@keyframes spin-slow {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.animate-spin-slow {
    animation: spin-slow 3s linear infinite;
}